http_response,host=google.com,resource=googletest,method=GET,result=success,server=http://google.com,status_code=301 response_time=0.032111209,http_response_code=200i,result_type="success",result_code=0i
http_response,host=google.com,resource=googletest,method=GET,result=connection_failed,server=http://google.com result_type="connection_failed",result_code=3i